
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detalle Compra - Boutique Mar de Moda</title>

        <!-- Estilos y Scripts -->
        <link rel="stylesheet" th:href="@{/css/estilo2.css}">
        <script th:src="@{/JS/script.js}"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>

        <!-- ENCABEZADO -->
        <header>
            <div class="top-message" id="mensaje-oferta"></div>
            <div class="header-content">
                <div class="logo">
                    <a th:href="@{/administrador/panelAdmin}">BOUTIQUE ONLINE MAR DE MODA</a>
                </div>
                <nav class="nav-buttons">
                    <div class="admin-dropdown">
                        <button class="admin-btn">Menú <i class="fas fa-caret-down"></i></button>
                        <div class="dropdown-content">
                            <a th:href="@{/}">Dashboard</a>
                            <a th:href="@{/productos/gestionProducto}" >Producto</a>
                            <a th:href="@{/administrador/gestionUsuario}">Usuario</a>
                            <a th:href="@{/pedidos}">Pedidos</a>
                            <a th:href="@{/usuario/cerrar}">Cerrar Sesión</a>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

    <body>

        <!-- Page Content -->
        <div class="container">

            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/usuario/inicio}">Home</a></li>
                <li class="breadcrumb-item"><a th:href="@{/usuario/compras}">Compras</a></li>
                <li class="breadcrumb-item active">Detalle de Compra</li>
            </ol>
            <!-- Datos del Usuario que hizo la orden -->
            <div class="card mb-4">
                <div class="card-body">
                    <h5>Cliente:</h5>
                    <p><strong>Nombre:</strong> <span th:text="${orden.usuario.nombre} + ' ' + ${orden.usuario.apellido}"></span></p>
                    <p><strong>Correo:</strong> <span th:text="${orden.usuario.email}"></span></p>
                    <p><strong>Fecha de la Orden:</strong> <span th:text="${#dates.format(orden.fechaCreacion, 'dd/MM/yyyy HH:mm')}"></span></p>
                    <p><strong>Total de la Orden:</strong> S/. <span th:text="${orden.total}"></span></p>
                </div>
            </div>


            <!-- Blog Post -->
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Producto</th>                  
                                        <th scope="col">Precio</th>
                                        <th scope="col">Total</th>                  
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="detalle:${detalles}">
                                        <td  th:text="${detalle.cantidad}"></td>
                                        <td th:text="${detalle.nombre}"></td>
                                        <td th:text="${detalle.precio}"></td>
                                        <td th:text="${detalle.total}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->

    </body>

    <!-- PIE DE PÁGINA -->
    <footer>
        <p>© 2025 Boutique Online Mar de Moda. Todos los derechos reservados.</p>
        <div class="social-links">
            <a href="https://wa.me" target="_blank" class="social-icon">
                <span>WhatsApp</span>
                <i class="fab fa-whatsapp"></i>
            </a>
            <a href="https://www.tiktok.com" target="_blank" class="social-icon">
                <span>TikTok</span>
                <i class="fab fa-tiktok"></i>
            </a>
            <a href="https://www.instagram.com" target="_blank" class="social-icon">
                <span>Instagram</span>
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </footer>
</body>
</html>